%ul.channels
  - @channels.each do |channel|
    %li[channel]{:style=>font_size(channel)}= link_to(channel.name, url(:show_channel, :name => channel.name[1..-1]))

- if not @channels.empty?
  #pagination
    - if params[:page].to_i > 1
      = link_to 'Previous page', url(:channels, :page => params[:page].to_i-1), :class => 'previous'
    - if @channels.to_a.size >= 50
      = link_to 'Next page', url(:channels, :page => params[:page].to_i+1), :class => 'next'
