%h2 About IRC logger
%p foo bar

%h3 Features
%p foo bar

%h3 Searching query syntax
%p foo bar

%h3 Technical informations
%p foo bar

%h4 Software
%p foo bar

%h4 Hardware
%p foo bar

%h2
  %a{ :href => 'http://pledgie.org/campaigns/2048' } Donate!
