%h1 Messages controller, new action

%p 
  Edit this file in 
  %tt app/views/messages/new.html.erb

= error_messages_for :message

= form_for(@message, :action => url(:messages) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:messages)