%h1
  Messages controller, show action
%p
  Edit this file in
  %tt
    app/views/messages/show.html.erb

= talk_with(@message)

= link_to 'Edit',  url(:edit_message,  @message)
|
= link_to 'Back', url(:messages)
