p.incredible, p.error, p.execption {
  font-size: 2em;
  text-align: center; }

ul.menu, ol.menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.menu.horizontal,   ol.menu.horizontal {
    width: 100%; }
    ul.menu.horizontal li,     ol.menu.horizontal li {
      margin-right: 1em;
      display: block;
      float: left; }
      ul.menu.horizontal li a,       ol.menu.horizontal li a {
        display: block; }

#results.irc {
  font-family: "Lucida Sans Unicode", "DejaVu Sans", "Verdana", sans-serif; }
  #results.irc .irc.talk {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-bottom: 1px solid black; }
    #results.irc .irc.talk a.action {
      font-weight: bold; }
    #results.irc .irc.talk em.date, #results.irc .irc.talk em.server, #results.irc .irc.talk h2, #results.irc .irc.talk a.action {
      font-family: "Liberation Mono", "Dejavu Sans Mono", "Monaco", "Consolas", "Courier New", monospace;
      display: inline;
      font-size: 0.9em; }
    #results.irc .irc.talk ol {
      padding: 0;
      margin: 0;
      margin-left: 1em;
      list-style: none; }
      #results.irc .irc.talk ol li code {
        font-family: "Liberation Mono", "Dejavu Sans Mono", "Monaco", "Consolas", "Courier New", monospace;
        font-size: 0.9em; }
        #results.irc .irc.talk ol li code.notice {
          font-size: 0.8em; }

body {
  margin: 0;
  padding: 0; }

#main {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px; }
  #main #header {
    height: 1.6em;
    font-size: 5em; }
    #main #header a {
      text-decoration: none;
      outline: none; }
      #main #header a h1 {
        padding-top: 0.5em;
        padding-right: 0.3em;
        text-align: right;
        text-transform: lowercase;
        font-size: 1em; }
  #main form#search {
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 0;
    height: 3.2em; }
    #main form#search input {
      font-size: 2em;
      margin-left: 0.1em;
      border: none; }
      #main form#search input.submit {
        text-transform: lowercase;
        width: 25%;
        float: right; }
      #main form#search input.query {
        padding-left: 0.1em;
        padding-right: 0.1em;
        width: 70%;
        float: left; }
  #main #content {
    font-family: "Lucida Sans Unicode", "DejaVu Sans", "Verdana", sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em; }
    #main #content h3 {
      padding: 0;
      margin: 0; }
    #main #content h2.nickname {
      font-size: 3em;
      padding: 0;
      margin: 0; }
    #main #content ul.servers {
      font-size: 2em;
      list-style: none;
      padding: 0; }
      #main #content ul.servers li {
        margin-left: 2em; }
    #main #content ol.archive {
      list-style: none;
      padding: 0; }
      #main #content ol.archive li {
        display: inline;
        margin-left: 2em; }
    #main #content ul.guys, #main #content ul.channels {
      font-size: 1.2em;
      text-align: center;
      padding: 0; }
      #main #content ul.guys li,       #main #content ul.channels li {
        display: inline;
        margin-left: 1em;
        vertical-align: middle; }
    #main #content ul.about {
      list-style-type: none;
      font-size: 1.8em;
      vertical-align: middle;
      text-align: right; }
    #main #content #pagination {
      margin-top: 1em;
      margin-bottom: 1em;
      height: 3em; }
      #main #content #pagination a {
        font-size: 2em; }
        #main #content #pagination a.previous {
          float: left; }
          #main #content #pagination a.previous:before {
            content: "« "; }
        #main #content #pagination a.next {
          float: right; }
          #main #content #pagination a.next:after {
            content: " »"; }
  #main #footer {
    margin-top: 1em; }
    #main #footer ul.menu {
      font-family: "Liberation Mono", "Dejavu Sans Mono", "Monaco", "Consolas", "Courier New", monospace;
      text-transform: uppercase;
      font-size: 0.7em; }
      #main #footer ul.menu li {
        padding: 1em; }
