%h1 Servers controller, new action

%p 
  Edit this file in 
  %tt app/views/servers/new.html.erb

= error_messages_for :server

= form_for(@server, :action => url(:servers) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:servers)