/*
Sass::SyntaxError: Undefined mixin 'sans'.
on line 2 of /home/alfanick/Projekty/irc-logger/public/stylesheets/sass/components/irc.sass

1: #results.irc
2:   +sans
3: 
4:   .irc.talk
5:     :padding
6:       :top 1em
7:       :bottom 1em
8:       :left 0.3em


Backtrace:
/home/alfanick/Projekty/irc-logger/public/stylesheets/sass/components/irc.sass:2
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:389:in `parse_mixin_include'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:302:in `parse_line'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:187:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:237:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:116:in `render_to_tree'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:88:in `render'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/plugin.rb:65:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/plugin.rb:53:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/plugin.rb:53:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.6/lib/sass/plugin/merb.rb:31:in `call'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/rack/request_handler.rb:65:in `process_request'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/abstract_request_handler.rb:163:in `main_loop'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/rack/application_spawner.rb:92:in `run'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/rack/application_spawner.rb:50:in `spawn_application'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/utils.rb:165:in `safe_fork'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/utils.rb:163:in `fork'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/utils.rb:163:in `safe_fork'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/rack/application_spawner.rb:48:in `spawn_application'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/utils.rb:165:in `safe_fork'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/utils.rb:163:in `fork'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/utils.rb:163:in `safe_fork'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/rack/application_spawner.rb:47:in `spawn_application'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/rack/application_spawner.rb:33:in `spawn_application'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/spawn_manager.rb:110:in `spawn_application'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/spawn_manager.rb:247:in `handle_spawn_application'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/abstract_server.rb:317:in `__send__'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/abstract_server.rb:317:in `main_loop'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/lib/passenger/abstract_server.rb:168:in `start_synchronously'
/usr/lib/ruby/gems/1.8/gems/passenger-2.0.3/bin/passenger-spawn-server:46
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'sans'.\A on line 2 of /home/alfanick/Projekty/irc-logger/public/stylesheets/sass/components/irc.sass\A \A 1: #results.irc\A 2:   +sans\A 3: \A 4:   .irc.talk\A 5:     :padding\A 6:       :top 1em\A 7:       :bottom 1em\A 8:       :left 0.3em\A "; }
