/*
Sass::SyntaxError: Undefined mixin 'sans'.
on line 2 of /home/alfanick/Projekty/irc-logger/public/stylesheets/sass/components/irc.sass

1: #results.irc
2:   +sans
3: 
4:   .irc.talk
5:     :padding 1em
6:     
7:     :border-bottom 1px solid black
8:     


Backtrace:
/home/alfanick/Projekty/irc-logger/public/stylesheets/sass/components/irc.sass:2
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:389:in `parse_mixin_include'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:302:in `parse_line'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:187:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:237:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:116:in `render_to_tree'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:88:in `render'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin.rb:65:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin.rb:53:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin.rb:53:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin/merb.rb:31:in `call'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/rack/middleware/static.rb:28:in `call'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/rack/handler/mongrel.rb:82:in `process'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/rack/adapter/mongrel.rb:38:in `start_server'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/rack/adapter/abstract.rb:235:in `start_at_port'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/rack/adapter/abstract.rb:85:in `start'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/server.rb:174:in `bootup'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core/server.rb:42:in `start'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/lib/merb-core.rb:170:in `start'
/usr/lib/ruby/gems/1.8/gems/merb-core-1.0.4/bin/merb:11
/usr/bin/merb:19:in `load'
/usr/bin/merb:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'sans'.\A on line 2 of /home/alfanick/Projekty/irc-logger/public/stylesheets/sass/components/irc.sass\A \A 1: #results.irc\A 2:   +sans\A 3: \A 4:   .irc.talk\A 5:     :padding 1em\A 6:     \A 7:     :border-bottom 1px solid black\A 8:     \A "; }
