%h1
  Guys controller, index action
%p
  Edit this file in
  %tt
    app/views/guys/index.html.erb
%table
  %tr
  - for guy in @guys
    %tr
      %td
        = link_to 'Show', url(:guy, guy)
      %td
        = link_to 'Edit', url(:edit_guy,  guy)

= link_to 'New', url(:new_guy)