- @title = "Nicknames"

%ul.guys
  - @guys.each do |guy|
    %li[guy]{:style=>font_size(guy)}= link_to(guy.nickname, url(:show_guy, :nickname => guy.nickname))

- if not @guys.empty?
  #pagination
    - if params[:page].to_i > 1
      = link_to 'Previous page', url(:guys, :page => params[:page].to_i-1), :class => 'previous'
    - if @guys.to_a.size >= 200
      = link_to 'Next page', url(:guys, :page => params[:page].to_i+1), :class => 'next'
