%h1 Guys controller, new action

%p 
  Edit this file in 
  %tt app/views/guys/new.html.erb

= error_messages_for :guy

= form_for(@guy, :action => url(:guys) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:guys)